---
layout: none
---

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Flashbook</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<a href="https://www.instagram.com/jasup2001/" target="_blank">
    <img class="logo" src="logo.png" alt="Logo">
</a>


<div class="grid">
{% for image in site.static_files %}
  {% if image.path contains '/img/' %}
    <div class="card">
      <a href="{{ image.path }}" target="_blank">
        <img src="{{ image.path }}" alt="">
      </a>
    </div>
  {% endif %}
{% endfor %}

</div>

</body>
</html>
