---
layout: none
---

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>jasup2001</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>

<header>
    <a href="https://www.instagram.com/jasup2001/" target="_blank" rel="noopener">
        <img class="logo2" src="logo2.png" alt="Logo">
    </a>
</header>

<main>
    <div class="grid">
    {% for image in site.static_files %}
      {% if image.path contains '/img/' %}
        <div class="card">
          <a href="{{ image.path | relative_url }}" target="_blank" rel="noopener">
            <img src="{{ image.path | relative_url }}" alt="">
          </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>
</main>

</body>
</html>
