body {
    background: #0b0b0b;
    margin: 0;
    font-family: sans-serif;
    color: #eee;
}

/* LOGO */
header {
    padding: 20px 0;
    text-align: center;
}

header img {
    height: 120px;
}

/* SIATKA 2 KOLUMNOWA */
.grid {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* KAFELKI */
.card {
    height: 500px;               /* stała wysokość */
    overflow: hidden;
    background: #111;
    border-radius: 16px;
}

/* OBRAZY WYPEŁNIAJĄ KAFEL */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;           /* magiczny crop */
    display: block;
}
